<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</mat-toolbar>

<div class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Todo Item" [(ngModel)]="todo" (keydown.enter)="addTodo()">
  </mat-form-field>
</div>

<mat-nav-list>
  <a mat-list-item href="#" *ngFor="let todoItem of todoList"  (swipe)="toggleDone(todoItem)"> <span [ngClass]="{'done-item': todoItem.done}">{{todoItem.text}}</span></a>
</mat-nav-list>